 <div class="title">
        <div class="BurText">
            Burger
        </div>
        <div class="EatText">
            Eater
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="ableBurgers">
                <h3>BOX here</h3>
            </div>
            <div class="col-sm-4" id="inputBurger">
                <div class="form-group">
                    <label for="comment">Input a burger:</label>
                    <textarea class="form-control" rows="1" id="comment"></textarea>
                </div>
            </div>
            <div class="col-sm-4" id="eatenBurgers">
                <h3>Box Here</h3>
            </div>
        </div>
    </div>    